<!DOCTYPE html>
<html lang="en">
<title>Covid19 Chatbot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Check Your Information</h2>
    <h2 class="w3-wide">About Covid19</h2>
    <h5 class="w3-wide">The information is gathered from CDC. Please refer to thier website for more information</h3>
  </div>

  <div class="container" style="padding-top: 10px;">
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <div class="container col-md-11" id="container" >

          <div class="alert alert-dark" role="alert">
           Chatbot: Welcome, please Enter your query and hopefully I can respond with useful information about COVID-19
          </div>
        </div>
          <!--<form  action="/process" method="POST">-->
        <div class="form-group">
              <input type="text" name="user_input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your query"><br>
            <button type="submit" class="btn btn-primary" id="btn1">Send</button>
          <!--</form>-->
        </div>
      </div>
      <div class="col"></div>
    </div>
    </div>
  <style>
   .col-md-11 {
       height: 500px;
      overflow-y: scroll;
    }
  </style>
<!-- End Page Content -->
</div>

<!-- Image of location/map -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">The BeeZ</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

//This is suposed to be eubmit on Enter. Fix it later
var input = document.getElementsByName("user_input");
// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("btn1").click();
  }
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#container').scrollTop($('#container')[0].scrollHeight);

    $("#btn1").click(function(){
      var user_input = $("#exampleInputEmail1").val();
      $("#container").append('<div class="alert alert-primary" role="alert">User: '+ user_input +' </div>');
      $("#container").append('<div class="alert alert-dark" role="alert">Chatbot: Loading... </div>');
      $("#container").animate({ scrollTop: 20000000 }, "slow");
      $.get("/process", { user_input }).done(function(data) {
        $("#container").children("div:last").remove()
        $("#container").append('<div class="alert alert-dark" role="alert">Chatbot: '+ data +' </div>');
        $("#container").animate({ scrollTop: 20000000 }, "slow");
      });
    });
  });
</script>

</body>
</html>
